body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebarCollapseButton .open:before, .sidebarCollapseButton .close:before {
    font-family: FontAwesome;
}
.cmv .dijitTitlePane {
    border: none;
}

.cmv .dijitTitlePaneTitle {
    border: 1px solid #DDD;
}

.cmv .dijitButton .dijitButtonNode,
.cmv .dijitToggleButton .dijitButtonNode,
.cmv .dijitDropDownButton .dijitButtonNode {
    background-color: #F0F0F0;
    border-color: #BBB;
}