/**-------------------Styles for configuration panel --------------------**/

.jimu-widget-nearme-setting .esriCTMainContainer
{
    width: 100%;
    height: 100%;
}

.jimu-widget-nearme-setting .esriCTlabel
{
    width: 25%;
    padding: 5px 10px 5px 0;
    word-break: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    overflow: hidden; 
    text-overflow: ellipsis;     
    white-space: nowrap;
    min-width: 250px;
    font-size: 14px;
    color: #596679;
}

.jimu-widget-nearme-setting .esriCTColorPickerNode
{
    float: left;
    margin: 0 10px 0 0;
}

.jimu-widget-nearme-setting .esriCTHintInline
{
    line-height: 30px;
}

.jimu-widget-nearme-setting .esriCTHintLeftMargin
{
    margin-left: 10px;
}

.jimu-widget-nearme-setting .esriCTDirectionTabNode .esriCTHintInline
{
    margin-top: 2px;
}

.jimu-widget-nearme-setting .row
{
    clear: both;
}

.jimu-widget-nearme .esriCTFullHeight
{
    height: 100%;
}
/**-----------------------Styles for Layer selector-----------------------**/

.jimu-widget-nearme-setting .esriCTSelectedLayersDiv
{
    height: 50px;
    overflow: auto;
    width: 88%;
    float: left;
    border: 1px solid #d2dae2;
    background: #e3ecf2;
    margin: 0 10px 0 0px;
}

.jimu-widget-nearme-setting .esriCTAddLayerButton
{
    float: right;
    margin-top: 9px;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-nearme-setting .esriCTLayerSelectorNode
{
    height: 90px;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-nearme-setting .esriCTLayerListItem
{
    height: 24px;
    color: #7989a0;
    padding: 0px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 22px;
    font-size: 14px;
}

.jimu-widget-nearme-setting .esriCTGeometryTypeIcon
{
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin: 6px 2px 0px 10px;
    float: left;
}

/**------------------End of styles for Layer selector---------------------**/

.jimu-widget-nearme-setting .esriCTLayerContainer
{
    width: 100%;
    float: left;
}

.jimu-widget-nearme-setting .esriCTLayerField
{
    width: 73%;
    float: left;
}

.jimu-widget-nearme-setting .esriCTHint
{
    margin: 5px 0 10px 0;
    float: left;
    font-size: 12px;
    color: #a0acbf;
    font-style: oblique;
}

.jimu-widget-nearme-setting .esriCTSetRouteURL
{
    width: 100%;
}

/**----------------------Styles for network service chooser----------------------**/

.jimu-widget-nearme-setting .esriCTHidden
{
    display: none;
}

.jimu-widget-nearme-setting .buttonsDiv .jimu-popup .button-container
{
    padding: 0px;
}

.jimu-widget-nearme-setting .jimu-float-leading
{
    margin-right: 10px;
}

.jimu-widget-nearme-setting .esriCTServiceUrlDiv
{
    float: left;
    width: 100%;
}

.jimu-widget-nearme-setting .esriCTRouteLayersDiv
{
    float: left;
    width: 100%;
}
.jimu-widget-nearme-setting .esriCTItemSelectDiv
{
    margin-top: 10px;
    float: left;
    height: 450px;
    width: 100%;
}

.jimu-widget-nearme-setting .esriCTExampleUrl
{
    float: left;
    width: 100%;
}

.jimu-widget-nearme-setting .esriCTRouteListDiv
{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 360px;
    overflow: auto;
    border: 1px solid #ccc;
}

.jimu-widget-nearme-setting .esriCTAgolRouteListDiv
{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 450px;
    overflow: auto;
    border: 1px solid #ccc;
}

.jimu-widget-nearme-setting .esriCTSearchRadio
{
    float: left;
    width: 100%;
}

.jimu-widget-nearme-setting .serviceUrlContainer
{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.jimu-widget-nearme-setting .esriCTServiceLable
{
    float: left;
    width: 100px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-nearme-setting .esriCTServiceField
{
    width: 85%;
    float: left;
}

.jimu-widget-nearme-setting .esriCTSetServiceURL
{
    float: left;
    width: 85%;
}

.jimu-widget-nearme-setting .urlButton
{
    line-height: 30px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*--------------override tree CSS starts here--------------*/
.claro .dijitTreeRowFocused
{
    background-repeat: repeat;
}
/*---------- expando (open/closed) icon--------------- */
.claro .dijitTreeExpando
{
    background-position: -93px -10px;
    display: none; /* for dijitTreeExpandoOpened */
}

.claro .dijitTreeExpando: :first-child
{
    display: block;
    background-position: -35px 0;
}

/**-----------------End of Styles for network service chooser--------------------**/

/*----------------styles for symbol chooser node-----------------------*/

.jimu-widget-nearme-setting .esriCTSymbolChooserNode
{
    text-align: center;
    cursor: pointer;
    min-width: 80px;
}

.jimu-widget-nearme-setting .esriCTSymbolPreviewText
{
    font-size: 14px;
    color: #596679;
}

.jimu-widget-nearme-setting .esriCTPreviewField
{
    width: 25%;
    float: left;
}

.jimu-widget-nearme-setting .esriCTPreviewHintField
{
    width: 70%;
    line-height: 30px;
    margin-left: 10px;
}

.jimu-widget-nearme-setting .esriCTSymbolPreviewHintField
{
    width: 60%;
    line-height: 20px;
    margin-left: 5px;
}

.jimu-widget-nearme-setting .esriCTSymbolPreviewField
{
    width: 35%;
    min-width: 250px;
    float: left;
}

.claro .dijitTextBox, .claro .dijitSelect
{
    color: #7989a0;
    background-color: #fafafc;
    border: 1px solid #d2dae2;
}

.dj_webkit .claro .dijitTextBox .dijitInputInner
{
    color: #7989a0;
}

.claro .dijitSelectDisabled, .claro .dijitTextBoxDisabled, .claro .dijitTextBoxDisabled .dijitInputContainer
{
    background-color: #e3ecf2;
}

.jimu-widget-nearme-setting .esriCTDirectionTabNode .dijitTextBox
{
    width: 88% !important;
    float: left;
}
.claro .dijitSelect .dijitArrowButton
{
    background-color: #fafafc;
    background-image: none;
    border-color: #fafafc;
}

.jimu-widget-nearme-setting .dijitSelect .dijitButtonContents
{
    border-style: none none none none;
    background-color: #fafafc;
}

.jimu-widget-nearme-setting .dijitTreeLabel
{
    font-size: 14px;
    color: #596679;
}

.dijitInline.dijitIcon.dijitTreeIcon.dijitLeaf
{
    margin-left: 2px;
}

.claro .dijitSelect .dijitInputField
{
    font-size: 14px;
    margin-right: 8px;
}

.jimu-widget-nearme-setting .esriCTURLSetButton
{
    line-height: 30px;
    margin: 0 0 0 10px;
    float: right;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-nearme-setting .esriCTSearchTabNode, .jimu-widget-nearme-setting .esriCTDirectionTabNode
{
    margin-top: 20px;
}

.jimu-widget-nearme-setting .esriCTSymbolChooserContainer
{
    height: calc(100% - 50px);
    overflow: auto;
}
/*----------------End of styles for symbol chooser node-----------------------*/

/**-------------------End of styles for config panel ---------------------**/
/*start CSS override for RTL*/

.esriRtl .jimu-widget-nearme-setting .esriCTColorPickerNode
{
    float: right;
    margin: 0 0px 0 10px;
}

.esriRtl .jimu-widget-nearme-setting .esriCTHint
{
    margin: 5px 0px 10px 5px;
    float: right;
}

.esriRtl .jimu-widget-nearme-setting .esriCTLayerField {
    float: right;
}

.esriRtl .jimu-widget-nearme-setting .esriCTPreviewHintField
{
    margin-right: 10px;
}

.esriRtl .jimu-widget-nearme-setting .esriCTlabel
{
    padding: 5px 0px 5px 10px;
    float: right;
}

.esriRtl .jimu-widget-nearme-setting .esriCTSelectedLayersDiv
{
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}

.esriRtl .jimu-widget-nearme-setting .esriCTPreviewField
{
    float: right;
}

.esriRtl .jimu-widget-nearme-setting .esriCTGeometryTypeIcon
{
    float: right;
}

.esriRtl .jimu-widget-nearme-setting .esriCTSetRouteURL
{
    float: right;
    margin: 0;
}

.esriRtl .jimu-widget-nearme-setting .esriCTURLSetButton
{
    float: left;
    margin: 0;
}

.esriRtl .jimu-widget-nearme-setting .esriCTSymbolPreviewField
{
    float: right;
}

.esriRtl .jimu-widget-nearme-setting .esriCTSymbolPreviewText
{
    padding: 0 0 0 5px;
}

.esriRtl .jimu-widget-nearme-setting .esriCTAddLayerButton
{
    float: left;
}

.esriRtl .jimu-widget-nearme-setting .esriCTServiceLable
{
    float: right;
}

.esriRtl .jimu-widget-nearme-setting .esriCTSetServiceURL
{
    float: right;
}
/*end CSS override for RTL*/