<div class="pad-left-5 no-select">
  <table class="page-table" cellpading="0">
    <tbody>
      <tr>
        <td colspan="2" class="panel-title-td">
          <div class="panel-title-text" data-dojo-attach-point="pageTitle"></div>
        </td>
      </tr>
      <tr class="bottom-border-bold task-instruction-row">
        <td colspan="2">
          <div class="instruction panel-title-hint-td" data-dojo-attach-point="pageHint"></div>
        </td>
      </tr>
      <tr>
        <td>
          <table class="page-table" cellpading="0">
            <tbody data-dojo-attach-point="featureListTable">
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>