<div class="pad-left-5 no-select">
  <table class="page-table" cellpading="0">
    <tbody>
      <tr>
        <td class="panel-title-td">
          <div class="panel-title-text">${nls.mapping.schemaMapping}</div>
        </td>
      </tr>
      <tr class="task-instruction-row bottom-border-bold">
        <td colspan="2">
          <div class="instruction panel-title-hint-td">${nls.fieldMapping.fieldMappingPageHint}</div>
        </td>
      </tr>
      <tr>
        <td class="pad-top-10">
          <div data-dojo-attach-point="fieldMappingTable"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>