
/*-----------------------Styles for widget panel--------------------------*/

.esriCTNearMeContentPanel
{
    padding: 15px 0px !important;
    overflow-y: hidden !important;
}

.jimu-widget-nearme
{
    min-width: 222px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

.jimu-widget-nearme .esriCTHidden
{
    display: none;
}

.jimu-widget-nearme .esriCTWidgetMainNode
{
    min-height: 200px;
}

.jimu-widget-nearme .esriCTWidgetErrorNode
{
    padding: 0px 14px;
}

/*--------------------End of styles for widget panel-----------------------*/

/*--------------------------Override esri css -----------------------------*/

/*override bottom padding otherwise scrollbar is shown in case of media content with multiple medias configured*/
.jimu-widget-nearme .mediaSection
{
    padding-bottom: 10px;
    clear: both;
}

/*---------------------Override Direction dijit css------------------------*/

.jimu-widget-nearme .simpleDirections .esriStopsContainer
{
    display: none;
}

.jimu-widget-nearme .simpleDirections .esriResultsPrint
{
    margin-top: 5px;
}

.jimu-widget-nearme .simpleDirections .esriResultsLoading .esriResultsContainer
{
    display: none;
}

/*----------End of Styles to override Direction dijit css---------------- */

/*-----------------------End of override esri css-------------------------*/

/*------------------------------ slider css ------------------------------*/

.jimu-widget-nearme .esriCTSliderDiv
{
    height: 60px;
    margin-top: 10px;
    padding: 0px 20px;
    clear: both;
}

.jimu-widget-nearme .esriCTSliderText
{
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

.jimu-widget-nearme .esriCTHorizantalSlider
{
    width: 100%;
    margin-top: 10px;
}

.jimu-widget-nearme .esriCTSliderValuesDiv
{
    width: 100%;
    margin-top: 5px;
}

.jimu-widget-nearme .esriCTSliderMinValueDiv
{
    float: left;
    margin-left: 2px;
}

.jimu-widget-nearme .esriCTSliderMaxValueDiv
{
    float: right;
    margin-right: 2px;
}
/*------------------------------ End slider css --------------------------*/

/*-------------------------- Search panel css ----------------------------*/

.jimu-widget-nearme .esriCTSearchDiv
{
    float: left;
    width: 100%;
}

.jimu-widget-nearme .esriCTSearchDiv .arcgisSearch
{
    float: left;
}

.jimu-widget-nearme .esriCTSearchContainer
{
    width: 100%;
    height: 35px;
}

.jimu-widget-nearme .arcgisSearch .searchGroup .searchInput
{
    width: 180px;
}

.jimu-widget-nearme .arcgisSearch .searchBtn
{
    padding: 6px;
}

.jimu-widget-search .arcgisSearch .searchGroup .searchInputGroup .searchInput
{
    width: auto;
}

.jimu-widget-nearme .esriCTSearchOuterContainer
{
    width: calc(100% - 40px);
    margin: 0 auto;
}

.jimu-widget-nearme .esriCTSearchHeader
{
    padding: 0px 0px 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

/*-------------------------- End Search panel css ------------------------*/

/*----------------Styles to override loading indicator css-----------------*/

.jimu-widget-nearme .jimu-loading-indicator
{
    z-index: 100;
}

/*------------End of styles to override loading indicator css--------------*/

/*---------------------------Styles for item list--------------------------*/

.jimu-widget-nearme .esriCTListOuterContainer
{
    margin-top: 10px;
}

.jimu-widget-nearme .esriCTItemListMainContainer
{
    width: 100%;
    right: 0px;
    min-height: 80px;
    left: 0px;
    height: calc(100% - 150px);
    position: absolute;
    -webkit-overflow-scrolling: touch;
}

.jimu-widget-nearme .esriCTItemListOverrideMainContainer
{
    height: calc(100% - 80px);
}

.jimu-widget-nearme .esriCTItemlList
{
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    height: 36px;
    cursor: pointer;
}

.jimu-widget-nearme .esriCTItemName
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 35px;
    padding: 0px 10px 0px 20px;
}

.jimu-widget-nearme .esriCTPanelHeader .esriCTItemName
{
    padding: 0px 20px 0px 0px;
    font-size: 12px;
    color: #3e3e3e;
}

.jimu-widget-nearme .esriCTItemRightArrow, .jimu-widget-nearme .esriCTItemLeftArrow
{
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #3e3e3e;
    background-position: center center;
}

.jimu-widget-nearme .esriCTItemRightArrow
{
    margin: 7px 20px 0px 0px;
}

.jimu-widget-nearme .esriCTItemLeftArrow
{
    margin: 7px 10px 0px 0px;
}

.jimu-widget-nearme .esriCTItemCount
{
    float: right;
    margin: 0px 20px 0px 0px;
    line-height: 35px;
    height: 35px;
    text-align: right;
    overflow: hidden;
    max-width: 100px;
}

.jimu-widget-nearme .esriCTLoadingIcon
{
    background-image: url('../images/loading-icon.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-top: 7px;
}

.jimu-widget-nearme .esriCTItemRightArrow
{
    background-image: url('../images/right-arrow.png');
    float: right;
}

.jimu-widget-nearme .esriCTItemLeftArrow
{
    background-image: url('../images/left-arrow.png');
    float: left;
}

.esriCTDisabled
{
    cursor: default !important;
}

.esriCTDisabled .esriCTItemRightArrow
{
    background-color: #d8d8d8;
}

.jimu-widget-nearme .esriCTBackButtonText
{
    float: left;
    height: 35px;
    line-height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
}

.jimu-widget-nearme .esriCTBackButton
{
    float: left;
}

.jimu-widget-nearme .esriCTPanelHeader
{
    font-weight: bold;
    padding-left: 20px;
}

.esriCTDirectionInfoPanel .esriCTItemlList
{
    border-bottom: none;
}

.esriCTFeatureList .esriCTItemCount, .esriCTFeatureList .esriCTItemRightArrow, .esriCTLayerList .esriCTItemLeftArrow, .esriCTDirectionInfoPanel .esriCTItemRightArrow, .esriCTDirectionInfoPanel .esriCTItemCount
{
    display: none;
}

.esriCTFeatureListItem .esriCTItemCount
{
    display: block;
}

.esriCTFeatureListItem .esriCTItemLeftArrow, .esriCTFeatureListItem .esriCTBackButtonText
{
    display: none;
}

.jimu-widget-nearme .esriCTLayerList, .jimu-widget-nearme .esriCTFeatureList, .jimu-widget-nearme .esriCTDirectionInfoPanel
{
    border-top: 1px solid #464646;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: none;
}

.jimu-widget-nearme .esriCTNoFeatureFound
{
    height: 32px;
    font-weight: bold;
    margin: 0px 16px;
    line-height: 30px;
}

.jimu-widget-nearme .esriCTFeatureListContent
{
    height: calc(100% - 30px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.jimu-widget-nearme .esriCTLayerList
{
    overflow: auto;
}

/*------------------Styles for override tab container css------------------*/
.jimu-widget-nearme .jimu-tab > .jimu-viewstack
{
    position: relative;
    top: 10px;
    height: 100%;
}

.jimu-widget-nearme .dijitContentPane
{
    overflow: auto;
}

.jimu-widget-nearme .jimu-tab
{
    height: calc(100% - 66px);
    min-height: 80px;
    -webkit-overflow-scrolling: touch;
}

.jimu-widget-nearme .esriCTOverrideHeight
{
       height: calc(100% - 46px);
}


.jimu-widget-nearme .esriCTFeatureInfo
{
    height: calc(100% - 35px);
    min-height: 80px;
    -webkit-overflow-scrolling: touch;
}

.jimu-widget-nearme .esriCTBorderBottom
{
    border-bottom: 1px solid #464646;
}

.jimu-widget-nearme .esriCTTopBorder
{
    border-top: 1px solid #464646;
}

/*-------------End of styles to override tab container css-----------------*/

/*---------------------Styles for popup attachments------------------------*/

.jimu-widget-nearme .esriCTThumbnailContainer
{
    margin: 2px;
}

.jimu-widget-nearme .esriCTAttachmentHeader
{
    margin: 2px;
    word-wrap: break-word;
    color: #888888;
}

.jimu-widget-nearme .esriCTAttachmentHolder
{
    margin: 5px;
    float: left;
    width: auto;
    height: 60px;
}

.jimu-widget-nearme .esriCTAttachmentImg
{
    cursor: pointer;
}

.jimu-widget-nearme .esriCTImageLoader
{
    cursor: default;
    display: block;
    background-position: center center;
    background-image: url(../images/image-loader.gif);
    background-repeat: no-repeat;
    width: 90px;
    height: 60px;
}

.jimu-widget-nearme .esriCTAutoHeight
{
    height: auto;
}

.jimu-widget-nearme .esriViewPopup .break
{
    display: none;
}

/*--------------------End of styles for popup attachments------------------*/

.esriRtl .jimu-widget-nearme .esriCTSliderMinValueDiv
{
    float: right;
    margin-right: 2px;
}

.esriRtl .jimu-widget-nearme .esriCTSliderMaxValueDiv
{
    float: left;
    margin-left: 2px;
}


.esriRtl .jimu-widget-nearme .esriCTItemName
{
    padding: 0px 20px 0px 10px;
}

.esriRtl .jimu-widget-nearme .esriCTPanelHeader .esriCTItemName
{
    padding: 0px 0px 0px 20px;
}

.esriRtl .jimu-widget-nearme .esriCTItemCount
{
    float: left;
    margin: 0px 0px 0px 20px;
}

.esriRtl .jimu-widget-nearme .esriCTItemRightArrow
{
    background-image: url('../images/left-arrow.png');
    float: left;
    margin: 7px 0 0 20px;
}

.esriRtl .jimu-widget-nearme .esriCTBackButton
{
    float: right;
}

.esriRtl .jimu-widget-nearme .esriCTItemLeftArrow
{
    background-image: url('../images/right-arrow.png');
    margin: 7px 20px 0px 10px;
}