.jimu-widget-draw-setting .add-with-icon{
  margin-top:8px;
  margin-bottom:3px;
}

.jimu-widget-draw-setting .jimu-tab{
  position: static;
}

.jimu-widget-draw-setting .jimu-tab>.jimu-viewstack{
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  height: auto;
}

.jimu-widget-draw-setting .jimu-viewstack>.view{
  height: auto;
}

.jimu-widget-draw-setting .tip{
  color: #000;
  font-size: 14px;
}

.jimu-widget-draw-setting .add-with-icon.jimu-state-disabled{
  color: #ccc;
  cursor: default;
}

.jimu-widget-draw-setting .jimu-simple-table .simple-table-cell.empty-text-td {
  line-height: 20px;
}

.jimu-widget-draw-setting .jimu-simple-table .simple-table-cell .normal-text-div{
  color: #000;
}

/*temp for select overlap issue#12515*/
.claro .jimu-widget-draw-setting .dijitSelectLabel,
.claro .jimu-widget-draw-setting .dijitTextBox .dijitInputInner,
.claro .jimu-widget-draw-setting .dijitValidationTextBox .dijitValidationContainer{
  max-height: 21px;
}

/*hide dot on IE/edge #13572*/
.jimu-widget-draw-setting .jimu-simple-table .simple-table-cell{
  font-size: 14px;
  padding-right: 3px;
}

/*set width of label dropdown*/
.jimu-widget-draw-setting .jimu-simple-table .simple-table-field:first-child,
.jimu-widget-draw-setting .jimu-simple-table .simple-table-cell:first-child{
  width: 265px;
}