.jimu-widget-visibility-setting {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

.jimu-widget-visibility-setting .dijitReset .dijitInputInner {
  padding-top: 6px !important;
}

.jimu-popup .title-label {
  font-size: inherit;
}

.jimu-widget-visibility-setting .section.common-property {
  overflow: hidden;
}

.jimu-widget-visibility-setting .url-section {
  position: relative;
  height: 40px;
}

.jimu-widget-visibility-setting .url-section .label {
  left: 0;
  top: 5px;
  height: 36px;
  width: 100%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .service-browser {
  width: 100%;
  padding-bottom: 10px;
}

.jimu-widget-visibility-setting .error-section {
  color: red;
  padding-left: 4px;
}

.jimu-rtl .jimu-widget-visibility-setting .error-section {
  padding-right: 14px;
}

.jimu-widget-visibility-setting .hide-section {
  visibility: hidden;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-detail {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* nav pane*/
.jimu-widget-visibility-setting .nav-pane {
  width: 250px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleClosed,
.jimu-widget-visibility-setting .nav-pane .nav-pane-node {
  background-color: #fafafc;
  border: 1px solid #d2dae2;
  border-radius: 4px;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleClosed,
.jimu-widget-visibility-setting .nav-pane .nav-pane-node,
.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleOpen {
  margin-top: 10px;
  height: 35px;
}

.jimu-widget-visibility-setting .nav-pane .nav-pane-node {
  padding: 7px;
  vertical-align: middle;
}

.jimu-widget-visibility-setting .nav-pane .link-action-node {
  cursor: pointer;
}

.jimu-widget-visibility-setting .nav-pane .link-action-node span {
  white-space: nowrap;
}

.jimu-widget-visibility-setting .nav-pane .param-node {
  padding: 5px 5px 5px 15px;
  border-top: 1px solid #d2dae2;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneContentInner {
  padding: 0;
}

.jimu-widget-visibility-setting .link-action-node.jimu-state-active {
  background-color: #e3ecf2;
  border-left: 3px solid #15A4FA;
  padding-left: 12px;
}

.jimu-widget-visibility-setting .nav-pane .dijitTitlePaneContentOuter {
  border-radius: 0 0 4px 4px;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleOpen {
  background-color: #6f7e95;
  color: #fff;
  border: 1px solid #6f7e95;
  border-radius: 4px 4px 0 0;
  background-image: linear-gradient(#6f7e95 0%, #6f7e95 100%);
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleFocus {
  margin-top: 7px;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleOpen .dijitArrowNode {
  background-image: url("images/focusArrow.png");
}

/*setting pane*/
.jimu-widget-visibility-setting .setting-pane {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 685px;
}


/*parameter setting*/
.jimu-widget-visibility-setting .field {
  position: relative;
  overflow: hidden;
}

.jimu-widget-visibility-setting .field label {
  width: 115px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-visibility-setting .common-property .field {
  height: 36px;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .common-property .field label {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .common-property .field label.visibleLabel {
  position: relative;
  top: 20%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .common-property .jimu-checkbox {
  width: 115px;
}

.jimu-widget-visibility-setting .common-property .jimu-checkbox.visibleCheck {
  width: 20px;
  margin-left: 0;
}

.jimu-widget-visibility-setting .common-property .field .common-input {
  position: absolute;
  left: 115px;
  right: 10px;
  top: 0px;
  bottom: 0px;
  width: auto
}

.jimu-widget-visibility-setting .special-property .field {
  height: 20px;
  margin-top: 5px;
}

.jimu-widget-visibility-setting .special-property .jimu-gp-editor-base {
  display: block;
}

.jimu-widget-visibility-setting .special-property .input-label {
  margin: 10px 0px;
  display: inline-block;
}

.jimu-widget-visibility-setting .special-property .change-editor {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-symbol-chooser {
  margin-left: 100px;
}

.jimu-rtl .jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-symbol-chooser {
  margin-left: 0;
  margin-right: 100px;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-renderer-chooser .jimu-symbol-chooser {
  margin-left: 50px;
}

.jimu-rtl .jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-renderer-chooser .jimu-symbol-chooser {
  margin-left: 0;
  margin-right: 50px;
}

/*layer order*/
.jimu-widget-visibility-setting .jimu-widget-visibility-setting-layer-order {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .layer-node {
  overflow: hidden;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .layer-node .order {
  float: left;
}

.jimu-widget-visibility-setting .layer-node .label {
  float: left;
}

.jimu-widget-visibility-setting .layer-node .order-btn {
  cursor: pointer;
}

.jimu-widget-visibility-setting .layer-node:first-child .up {
  color: rgba(0, 0, 0, 0.4);
}

.jimu-widget-visibility-setting .layer-node:last-child .down {
  color: rgba(0, 0, 0, 0.4);
}

/* options */
.jimu-widget-visibility-setting .jimu-widget-setting-gp-options {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field {
  margin-top: 10px;
  height: 36px;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field label {
  width: auto;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field .option-help-label {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field .option-help-url {
  position: absolute;
  left: 115px;
  right: 10px;
  top: 0px;
  bottom: 0px;
  width: auto;
}

.jimu-gp-editor-chooser .editor-node {
  display: inline-block;
  width: 165px;
  margin-left: 15px;
}

.jimu-gp-editor-chooser .editor-node .node-box {
  width: 100%;
  height: 105px;
  line-height: 105px;
  border: 1px solid #D4DCE3;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.jimu-gp-editor-chooser img {
  vertical-align: middle;
}

.jimu-gp-editor-chooser .editor-node .node-label {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.jimu-gp-editor-chooser .editor-node.jimu-state-selected .node-box {
  border: 2px solid #15A4FA;
}

.jimu-rtl .jimu-widget-visibility-setting .url-section .label {
  right: 0;
}

.jimu-rtl .jimu-widget-visibility-setting .common-property .field .common-input {
  right: 115px;
  left: 10px;
}

.jimu-rtl .jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field .option-help-url {
  left: 10px;
  right: 115px;
}

.jimu-widget-visibility-setting .param-node {
  border-left: 0;
  border-right: 0;
  position: relative;
}

.jimu-widget-visibility-setting .param-node .action-group {
  position: absolute;
  width: 5px;
  height: 20px;
  left: 5px;
  top: 5px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: -22px -101px;
  cursor: move;
}

.jimu-widget-visibility-setting .dojoDndItemOver .action-group {
  background-image: url(images/ago_sprite.png);
}

.jimu-widget-visibility-setting .dojoDndItemOver .action-group:hover {
  background-position: -38px -101px;
}

.jimu-rtl .jimu-widget-visibility-setting .param-node .action-group {
  left: auto;
  right: 5px;
}

.dojoDndAvatarHeader {
  display: none;
}

.dojoDndAvatarItem {
  display: block;
}

/* Toggle switch */

.jimu-widget-visibility-setting .switch-toggle-group {
  padding: 5px;
}

.jimu-widget-visibility-setting .switch-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-visibility-setting .switch-toggle-group .switch-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #adadad;
  position: relative;
  float: left;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jimu-rtl .jimu-widget-visibility-setting .switch-toggle.dijitCheckBox {
  float: left;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 14px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 2px;
}

/* distace and height  */

.jimu-widget-visibility-setting .esriCTWrapper {
  width: 100%;
  overflow: hidden;
  padding: 5px 5px;
}

.jimu-widget-visibility-setting .esriCTLabel {
  width: 30%;
  padding: 5px 10px 5px 0px;
  word-break: break-word;
  float: left;
  font-size: 14px;
}

.jimu-widget-visibility-setting .esriCTDijitWrapper {
  width: 70%;
  float: right;
}

.jimu-rtl .jimu-widget-visibility-setting .esriCTLabel {
  float: right;
}

.jimu-rtl .jimu-widget-visibility-setting .esriCTDijitWrapper {
  float: left;
}

.jimu-rtl .jimu-widget-visibility-setting .switch-toggle.dijitCheckBox {
  float: right
}