.claro .jimu-widget-smartEditor .esriAttributeInspector .dijitButton .dijitButtonNode,
.claro .jimu-widget-smartEditor .esriAttributeInspector .dijitDropDownButton .dijitButtonNode,
.claro .jimu-widget-smartEditor .esriAttributeInspector .dijitComboButton .dijitButtonNode,
.claro .jimu-widget-smartEditor .esriAttributeInspector .dijitToggleButton .dijitButtonNode {
  
   min-width: 20px!important;
  
}
.jimu-widget-smartEditor .esriAttributeInspector .atiNavButtons {
    
    margin-left: -120px!important;
    
}
.widgetIndicator {
     top:-6px !important;
}
.jimu-widget-smartEditor .esriAttributeInspector .dijitTextBox {
    height: 30px!important;
}
.jimu-widget-smartEditor .dijitTextBox {
    height: 30px!important;
}