/*the css for ImageNode dijit*/
.jimu-img-node{
  font-size: 12px;
  position: relative;
  float: left;
  /*border-radius: 4px;*/
  color: #686868;
  overflow: hidden;
}
.jimu-img-node .node-box{
  border-radius: 4px;
  overflow: hidden;
}
.jimu-img-node img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.jimu-img-node .node-label{
  height: 30px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jimu-img-node:hover{
  color: #51b1fe;
}
.jimu-img-node.jimu-state-selected .node-label{
  background-color: #d9dde0;
}