.jimu-widget-directions-setting{
	font-size: 14px;
  margin-bottom: 20px;
}

.jimu-widget-directions-setting .title{
	display:inline-block;
	font-size: 16px;
	font-weight:bold;
	margin:10px 0 5px 0px;
}

.jimu-widget-directions-setting .route-section table > tbody > tr > td{
  padding:5px 0;
}

.jimu-widget-directions-setting .route-td{
	padding-left: 10px;
}

.jimu-widget-directions-setting .jimu-ellipsis{
	white-space: normal;
}

.jimu-rtl .jimu-widget-directions-setting .route-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .locator-td{
	padding-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .locator-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .travelmodes-td{
	padding-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .travelmodes-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .trafficlayer-td{
	padding-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .trafficlayer-td{
	padding-left: 0;
	padding-right: 10px;
}

.jimu-widget-directions-setting .auto-complete-td span{
	margin-left: 10px;
}

.jimu-rtl .jimu-widget-directions-setting .auto-complete-td span{
	margin-left: 0px;
	margin-right: 10px;
}


.jimu-widget-directions-setting .searchResults.arcgisSearch{
	position: relative;
}

.jimu-widget-directions-setting .arcgisSearch{
	width: 220px;
}

.jimu-widget-directions-setting .arcgisSearch .searchMenu {
	position: absolute;
}
.jimu-widget-directions-setting .arcgisSearch .searchMenu.searchResultsMenu{
	width: 220px !important;
}
.jimu-widget-directions-setting .arcgisSearch .showNoResults .noResultsMenu{
	height: 122px;
}
.jimu-widget-directions-setting .arcgisSearch .hasValue.showNoResults .noResultsMenu{
	display: block !important;
}

.jimu-widget-directions-setting .arcgisSearch .searchGroup .searchInput{
	width:168px;
	padding: 6px;
	border-radius: 0;
	border-left: 6px green solid;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.jimu-widget-directions-setting .end-search .arcgisSearch .searchGroup .searchInput{
	border-left: 6px red solid;
}
.jimu-rtl .jimu-widget-directions-setting .arcgisSearch .searchGroup .searchInput{
	border-left: none;
	border-right: 6px green solid;
}
.jimu-rtl .jimu-widget-directions-setting .end-search .arcgisSearch .searchGroup .searchInput{
	border-left: none;
	border-right: 6px red solid;
}

.jimu-widget-directions-setting .arcgisSearch .searchBtn{
	border-radius: 0;
	border-left: 0;
	padding: 6px;
}

.jimu-widget-directions-setting .searchGroup .searchExpandContainer .searchBtn.searchToggle{
  display: none;
}

.jimu-rtl .jimu-widget-directions-setting .arcgisSearch .searchBtn{
	border-right: 0;
	border-left: 1px solid #57585A;
}

.jimu-widget-directions-setting .arcgisSearch .searchClear{
	display: none;
}

.jimu-widget-directions-setting .hide{
	display: none;
}

.jimu-widget-directions-setting .preset-des-error{
	color:red;
}

/*********** barrierLayers ************/
.jimu-widget-directions-setting .barrierLayersNode{
	padding: 5px 0;
}
.jimu-widget-directions-setting .barrierLayersNode > table{
	background-color: transparent;
	width: 100%;
}
/************ barrierLayers ***********/

/************ search-setting ***********/
.search-config .group-label{
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.search-config .instruction{
  font-size: 12px;
}

.search-config .dropdown-button {
  margin: 8px 0;
  display: inline-block;
  position: relative;
  padding-left: 16px;
  color: #518dca;
  background: url(images/add_icon.png) no-repeat left;
  cursor: pointer;
}

.jimu-rtl .search-config .dropdown-button{
  padding-left: 0;
  padding-right: 16px;
  background-position: right;
}

.search-config .dropdown-button .dropdown-menu{
  position: absolute;
   display: none;
  list-style-type: none;
  top: 16px;
  left: 0;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #7989a0;
  z-index: 999;
}

.jimu-rtl .search-config .dropdown-button .dropdown-menu{
  right: 0;
  left: auto;
}

.search-config .dropdown-button:hover .dropdown-menu{
  display: inline-block;
}

.search-config .dropdown-menu .dropdown-item{
  white-space: nowrap;
  height: 30px;
  padding: 0 25px;
  line-height: 30px;
}

.search-config .dropdown-menu .dropdown-item:hover{
  background: #edf2f5;
  color: #15a4fa;
}

.search-config .sources{
  height: 366px;
}

.search-config .source-list{
  width: 270px;
  height: 100%;
}

.search-config .source-setting{
  width: 660px;
  position: relative;
  /*height: 100%;*/
  overflow: auto;
  padding-right: 5px;
}

.search-config .source-setting .source-tips{
  display: none;
  font-size: 12px;
  color: #999;
}

.search-config .source-setting .source-tips-show{
  display: block;
}

.search-config .source-table,
.search-config .general-setting-table{
  width: 100%;
}

.search-config .search-fields-selector {
  display: inline-block;
  margin: 6px 0;
  width: 18px;
  height: 18px;
  background: url(images/selector.png) no-repeat center;
}

.search-config .jimu-widget-search-locator-source-setting .source-details-section .country-code-row td,
.search-config .jimu-widget-search-locator-source-setting .source-details-section .local-search-row td{
  padding-bottom: 35px;
  position: relative;
}

.search-config .jimu-widget-search-locator-source-setting .source-details-section .local-search-row .first{
  padding-left: 20px;
}

.search-config .jimu-widget-search-locator-source-setting .source-details-section .country-code-row a{
  text-decoration: none;
}

.search-config .jimu-widget-search-locator-source-setting .source-details-section .country-code-row .esri-icon-question{
  color: #485566;
  font-style: normal;
}

.jimu-rtl .search-config .jimu-widget-search-locator-source-setting .source-details-section .country-code-row .esri-icon-question{
  transform: rotateY(180deg);
  display: inline-block;
}

.search-config .jimu-widget-search-locator-source-setting .source-details-section .country-code-row .example,
.search-config .jimu-widget-search-locator-source-setting .source-details-section .local-search-row .example{
  position: absolute;
  top: 35px;
  left: 0;
  font-size: 12px;
  color: #999;
}

.jimu-rtl .search-config .jimu-widget-search-locator-source-setting .source-details-section .country-code-row .example{
  left: auto;
  right: 0;
}

.search-config .jimu-widget-search-locator-source-setting .source-details-section .hide-country-code-row,
.search-config .jimu-widget-search-locator-source-setting .hide-local-search-table {
  display: none;
}

.search-config .source-url-section .source-table > tbody > tr:first-child > td {
  padding-bottom: 5px;
}

.search-config .source-table > tbody > tr > td{
  padding-bottom: 10px;
}

.search-config .source-table > tbody > tr > .first{
  width: auto;
  text-align: left;
  padding-right: 10px;
  white-space: nowrap;
}

.search-config .source-table > tbody > tr > .second{
  width:550px;
}

.search-config .source-table > tbody > tr > .third{
  width: 70px;
  padding-left: 10px;
}

.jimu-rtl .search-config .source-table > tbody > tr > .first{
  padding-left: 10px;
  padding-right: 0;
}

.jimu-rtl .search-config .source-table > tbody > tr > .first{
  text-align: right;
  padding-left: 10px;
  padding-right: auto;
}

.jimu-rtl .search-config .source-table > tbody > tr > .third{
  padding-left: 0;
  padding-right: 10px;
}

.jimu-widget-query-source-setting .source-url-section .source-table > tbody > tr > .second {
  width: 455px;
}

.search-config .source-table .jimu-btn{
  padding: 0;
  line-height: 30px;
  width: 60px;
}

.search-config .source-table > tbody > tr > .second .tip{
  font-size: 12px;
  color: #999;
  width: 100%;
  display: inline-block;
}

.search-config .source-table .error-message{
  color: #e84b4b !important;
}

.search-config .jimu-basic-service-chooser {
  width: auto;
}

.search-config .override-geocode-service-chooser-content {
  width: 580px !important;
  min-height: 150px !important;
}
.search-config .override-geocode-service-chooser-content .service-browser-container{
  display: none;
}

.direction-setting.jimu-widget-search-query-source-setting-fields .fields-checkbox{
  width: 167px;
  margin-bottom: 20px;
  color: #596679;
  font-size: 14px;
  margin-left: 30px;
}
.direction-setting.jimu-widget-search-query-source-setting-fields .fields-checkbox .label{
  width: 140px;
}
.jimu-rtl .direction-setting.jimu-widget-search-query-source-setting-fields .fields-checkbox{
  margin-right: 30px;
  margin-left: auto;
}
