.jimu-widget-SAT {
  color: #ffffff !important;
  background-color: #4c4c4c;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 150px !important;
  display: block;
  z-index: 100 !important;
}

/* Classes */

.action2 {
  padding-left: 10px;
}

.jimu-widget-SAT .innerBL {
  display: none;
  width: 10px; 
  height: 20px; 
  background-image: url('images/nav_left.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;           
  bottom: 45px;
  left: 0px;
  z-index: 2;
  background-size:cover;
  opacity: .6;
}

.jimu-rtl .jimu-widget-SAT .innerBL {
  right: 0px;
}

.jimu-widget-SAT .innerBL:hover {
  width: 20px; 
  height: 35px; 
  opacity: 1;
  cursor: pointer;
  bottom: 40px;
}

.jimu-widget-SAT .innerBR {
  display: none;
  width: 10px; 
  height: 20px; 
  background-image: url('images/nav_right.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
  bottom: 45px;
  right: 0px;
  z-index: 2;
  opacity: .6;
}

.jimu-rtl .jimu-widget-SAT .innerBR {
  left: 0px;
}

.jimu-widget-SAT .innerBR:hover { 
  width: 20px; 
  height: 35px; 
  opacity: 1;
  cursor: pointer;
  bottom: 40px;
}

.jimu-widget-SAT .rounded {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.jimu-widget-SAT .roundedL {
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.jimu-widget-SAT .roundedR {
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
/* Start ST */

.jimu-widget-SAT .reverseGeocodingDIV {
  visibility: hidden;
}

.jimu-widget-SAT .reversedAddressDIV {
  width:100%;
}

.jimu-widget-SAT .sliderValue {
  width: 60px;
  align: left;
}

.jimu-widget-SAT .sliderValueDIV {
  text-align: center; 
  margin-top: -4px;
}

.jimu-widget-SAT .panelBottom {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  text-align: center;
  color: #ffffff;
  padding: 0px;
}

.jimu-widget-SAT .SA_panelMessage {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: none;
}

.jimu-widget-SAT .SA_panelFooter {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  /*background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25);*/
  border-bottom: 1px solid #353535;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.jimu-widget-SAT .SA_panelFooterContent {
  position: absolute;
  left: 0px;
  right: 24px;
  height: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
}

.jimu-rtl .jimu-widget-SAT .SA_panelFooterContent {
  position: absolute;
  left: 24px;
  right: 0px;
}

.jimu-widget-SAT .SA_panelClose {
  position: absolute;
  left: auto;
  right: 0px;
  width: 24px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  cursor: pointer;
  background-image: url('images/x.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
}

.jimu-widget-SAT .SA_panelRight {
  display: none;
  position: absolute;
  left: auto;
  right: 24px;
  width: 34px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background-image: url('images/nav_right.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px;
  opacity: .4;
}

.jimu-widget-SAT .SA_panelRight:hover {
  opacity: 1;
  background-size: 16px;
}

.jimu-widget-SAT .SA_panelLeft {
  display: none;
  position: absolute;
  left: 0px;
  right: auto;
  /*width: 18px;*/
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background-image: url('images/nav_left.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px;
  opacity: .4;
}

.jimu-widget-SAT .SA_panelLeft:hover {
  opacity: 1;
  background-size: 16px;
}

.jimu-rtl .jimu-widget-SAT .SA_panelClose {
  position: absolute;
  left: 0px;
  right: auto;
}

.jimu-widget-SAT .panelContainer {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 110px;
  overflow: hidden;
  display: block;
}

.jimu-widget-SAT .SAT_tabPanel {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  height: 100px;
  display: none;
  overflow-x: auto;
  overflow-y: hidden !important;
}

.jimu-widget-SAT .SAT_tabPanelContent {
  position: absolute;
  top: 0px;
  width: auto;
  height: 90px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
/* TABS */

.jimu-widget-SAT .SA_SAT_tabs {
  position: absolute;
  white-space: nowrap;
  height: 40px;
  padding: 0px;
  overflow-x: visible;
  overflow-y: hidden;
}

.jimu-widget-SAT .SATTab {
  width: auto;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  float: left;
  line-height: 40px;
  font-size: 13px;
  padding: 0 10px 0 35px;
  background-image: url('images/tab.png');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: .85;
}

.jimu-rtl .jimu-widget-SAT .SATTab {
  float: right;
}

.jimu-widget-SAT .active {
  color: #ffffff;
  background-color: #353535;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('images/tabon.png');
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 1;
}

.jimu-widget-SAT .activeBlack {
  color: #ffffff;
  background-color: #353535;
  background-image: url('images/tabon.png');
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 1;
}
/* INCIDENTS */

.jimu-widget-SAT .SATcol {
  float: left;
  height: 90px;
  width: 220px;
  border-left: none;
  border-right: 1px solid #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 0;
  padding: 0 20px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.jimu-widget-SAT .SATcolWrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

.jimu-widget-SAT .SATcolSave {
  float: left;
  height: 90px;
  width: 220px;
  border-left: none;
  border-right: 1px solid #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 0;
  padding: 0 5px;
  overflow: hidden;
}

.jimu-rtl .jimu-widget-SAT .SATcolSave {
  float: right;
  border-left: 1px solid #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
}

.jimu-rtl .jimu-widget-SAT .SATcol {
  float: right;
  border-left: 1px solid #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
}

.jimu-widget-SAT .SATcolSmall {
  float: left;
  height: 90px;
  width: 165px;
  border-left: none;
  border-right: 1px solid #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 0;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-rtl .jimu-widget-SAT .SATcolSmall {
  float: right;
  border-left: 1px solid #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
}

.jimu-widget-SAT .SATcolLast {
  border-left: none;
  border-right: none;
}

.jimu-widget-SAT .SATcol .label,
.jimu-widget-SAT .SATcolSmall .label {
  font-size: 13px;
  padding: 2px 0;
}

.jimu-widget-SAT .SATcol .colBar {
  position: relative;
  /*text-align: left;*/

  height: 32px;
  display: block;
}

.jimu-widget-SAT .SATcolSave .colBar {
  position: relative;
  /*text-align: left;*/

  height: 69px;
  display: block;
}

.jimu-widget-SAT .btn32 {
  float: left;
  width: 32px;
  height: 32px;
  padding: 0;
  color: #ffffff;
  background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  display: block;
  margin-right: 8px;
  cursor: pointer;
}

.jimu-widget-SAT .btn32Save {
  float: left;
  width: 32px;
  height: 32px;
  padding: 0;
  color: #ffffff;
  background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  display: block;
  margin-right: 6px;
  cursor: pointer;
}

.jimu-widget-SAT .btn32SaveDisabled {
  float: left;
  width: 32px;
  height: 32px;
  padding: 0;
  color: #999999;
  background-color: #999999;
  border-radius: 2px;
  display: block;
  margin-right: 6px;
  cursor:default;
}

.jimu-rtl .jimu-widget-SAT .btn32 {
  float: right;
}

.jimu-rtl .jimu-widget-SAT .btn32Save {
  float: right;
}

.jimu-widget-SAT .btn32:hover {
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.5);
}

.jimu-widget-SAT .btn32Save:hover {
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.5);
}

.jimu-widget-SAT .btnOn {
  border: 1px solid #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.5);
}

.jimu-widget-SAT .btn32 img {
  padding: 8px;
}

.jimu-widget-SAT .btn32Save img {
  padding: 8px;
}

.jimu-widget-SAT .btn32SaveDisabled img {
  padding: 8px;
}

.jimu-widget-SAT .btnClear {
  background-color: #bb0000;
  margin-left: 16px;
}

.jimu-rtl .jimu-widget-SAT .btnClear {
  margin-right: 16px;
  margin-left: 0;
}

.jimu-widget-SAT .btnClear:hover {
  background-color: #ff0000;
}

.jimu-widget-SAT .dijitTextBox,
.jimu-widget-SAT .dijitTextBoxHover,
.jimu-widget-SAT .dijitTextBoxFocused,
.jimu-widget-SAT .dijitTextBoxHoverFocused {
  background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25) !important;
  color: #ffffff !important;
  border: 1px solid #a6a6a6;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  height: 26px !important;
  line-height: 26px !important;
}

.jimu-widget-SAT .dijitTextBoxFocused,
.jimu-widget-SAT .dijitInputInner,
.jimu-widget-SAT .dijitInputContainer {
  background: transparent !important;
  color: #ffffff !important;
  height: 26px !important;
  line-height: 26px !important;
}

.jimu-widget-SAT .dijitInputField {
  padding: 0px 10px !important;
}

.jimu-widget-SAT .btnExport {
  background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 10px 44px 10px 10px;
  background-image: url('images/download.png');
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

.jimu-widget-SAT .btnExport:hover {
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.5);
}

.jimu-widget-SAT .download {
  background-image: url('images/download.png');
  background-repeat: no-repeat;
  background-position: right 0px center;
}

.jimu-widget-SAT .processing {
  background-image: url('images/processing.gif');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.jimu-widget-SAT .loading {
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-position: center 10px;
}
/* SUMMARY */

.jimu-widget-SAT .colSummary {
  font-size: 28px;
  padding-top: 10px;
}

.jimu-widget-SAT .colGroupedSummary {
  font-size: 28px;
  padding-top: 3px;
}
/* REC */

.jimu-widget-SAT .SATcolRec {
  float: left;
  height: 90px;
  width: 220px;
  border-left: none;
  border-right: 1px solid #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 0;
  padding: 0 20px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.jimu-rtl .jimu-widget-SAT .SATcolRec {
  float: right;
  border-left: 1px solid #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  text-align: right;
}

.jimu-widget-SAT .SATcolRecBar {
  position: relative;
  height: 26px;
  width: 100%;
  display: block;
}

.jimu-widget-SAT .SATcolRecNum {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #4c4c4c;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  border-radius: 13px;
  font-size: 11px;
  cursor: pointer;
}

.jimu-widget-SAT .SATcolDir {
  position: absolute;
  right: 0px;
  width: 26px;
  height: 26px;
  background-image: url('images/car.png');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.jimu-rtl .jimu-widget-SAT .SATcolDir {
  position: absolute;
  left: 0px;
  right: auto;
}

.jimu-widget-SAT .SATcolDistance {
  position: absolute;
  left: 30px;
  right: 30px;
  height: 26px;
  font-size: 11px;
  line-height: 26px;
}

.jimu-widget-SAT .SATcolInfo {
  position: relative;
  margin-top: 10px;
  height: 64px;
  width: 100%;
  display: block;
  overflow: hidden;
}
/* Slider */

.claro .dijitSlider {
  background: transparent;
  border: 0 none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
}

.claro .dijitSliderBar {
  border-style: solid;
  outline: 1px;
}

.claro .dijitRuleLabelsContainer {
  color: #2b2e34;
}

.claro .dijitSliderDisabled {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}

.claro .dijitRuleLabelsContainerH {
  padding: 8px 0 !important;
  color: #6e6e6e !important;
}

.claro .dijitSliderBarH,
.claro .dijitSliderBumperH {
  height: 4px;
}

.claro .dijitSlider .dijitSliderLeftBumper {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-width: 1px 0 1px 1px;
  margin-left: 4px;
}

.claro .dijitSlider .dijitSliderRightBumper {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-width: 1px 1px 1px 0;
  margin-left: -2px;
  margin-right: 4px;
}

.claro .dijitSlider .dijitSliderProgressBarH {
  border-color: #ebebeb;
  background-color: #ebebeb;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.claro .dijitSlider .dijitSliderLeftBumper {
  border-color: #ebebeb;
  background-color: #ebebeb;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.claro .dijitSlider .dijitSliderRemainingBarH,
.claro .dijitSlider .dijitSliderRightBumper {
  border-color: #878787;
  background-color: #878787;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.claro .dijitSliderHover .dijitSliderProgressBarH,
.claro .dijitSliderHover .dijitSliderLeftBumper {
  border-color: #ebebeb;
  background-color: #ebebeb;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.claro .dijitSliderFocused .dijitSliderProgressBarH,
.claro .dijitSliderFocused .dijitSliderLeftBumper {
  border-color: #ebebeb;
  /*-webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;*/
}

.claro .dijitSliderFocused .dijitSliderRemainingBarH,
.claro .dijitSliderFocused .dijitSliderRightBumper {
  border-color: #878787;
  background-color: #878787;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.claro .dijitSliderImageHandle {
  background: #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 0 none;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  position: absolute;
}

.claro .dijitSliderImageHandle:after {
  content: "";
  display: block;
  background: #6e6e6e;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  left: 4px;
  top: 4px;
  position: absolute;
}

.claro .dijitSliderDisabled.dijitSliderFocused .dijitSliderImageHandle:after {
  display: none;
  outline: none;
}

.claro .dijitSliderDecrementIconH,
.claro .dijitSliderIncrementIconH {
  padding: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 0 none;
}

.claro .dijitButtonText{
  padding-left: 3px;
}

/*********about attributeInspector**********/


.esriAttributeInspector .atiRichTextField{ 

}

.esriAttributeInspector div.dijitEditorIFrameContainer {
  height: 78px;
  width: 100%;
}

.esriAttributeInspector .dijitTextBox.dijitTextArea {
  height: 32px;
}

.esriAttributeInspector .atiButton {
     padding-top:2px;
     margin-right: 10px;
     display: inline-table;
}

.esriAttributeInspector .atiButtons {
     height:30px;
     width:100%;
     display:inline-block;
     width:100%;
}

.esriAttributeInspector {
    display:inline-block;
}

  .esriAttributeInspector .dijitArrowButtonContainer {
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    width:18px;
  }

.esriAttributeInspector .atiNavButtons {
    display:none;
    visibility:hidden;
    height: 0px;
}

.esriPopup .spinner {
    display: none;
}

/*********end attributeInspector**********/