<div class="pad-left-5 no-select">
  <table class="page-table" cellpading="0" data-dojo-attach-point="coordinateTable">
    <tbody>
      <tr>
        <td colspan="2" class="panel-title-td">
          <div class="panel-title-text">${nls.mapping.locationMapping}</div>
        </td>
      </tr>
      <tr class="bottom-border-bold task-instruction-row">
        <td colspan="2" class="panel-title-hint-td">
          <div class="instruction">${nls.coordinates.coordinatesPageHint}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>