<div class="pad-left-5 no-select">
  <table class="page-table" cellpading="0">
    <tbody>

      <tr>
        <td colspan="3" class="panel-title-td">
          <div class="panel-title-text">${nls.startPage.locationAndField}</div>
        </td>
      </tr>
      <tr class="bottom-border-bold task-instruction-row">
        <td colspan="3" class="panel-title-hint-td">
          <div class="instruction" data-dojo-attach-point="locationAndFieldHint"></div>
        </td>
      </tr>

      <tr class="task-row" data-dojo-attach-event="onClick:_locationMappingClick">
        <td class="field-control-td">
          <div class="task-text">${nls.mapping.locationMapping}</div>
        </td>
        <td class="width-15">
          <div class="display-none done-mark" data-dojo-attach-point="locationMappingComplete">
          </div>
        </td>
        <td class="width-15">
          <div class="next-arrow float-right next-arrow-img">
          </div>
        </td>
      </tr>
      <tr class="bottom-border task-instruction-row" >
        <td colspan="3" class="instruction-padding">
          <div class="instruction">${nls.mapping.locationMappingHint}</div>
        </td>
      </tr>

      <tr class="task-row" data-dojo-attach-event="onClick:_schemaMappingClick">
        <td class="field-control-td">
          <div class="task-text">${nls.mapping.schemaMapping}</div>
        </td>
        <td class="width-15">
          <div class="display-none done-mark" data-dojo-attach-point="fieldMappingComplete">
          </div>
        </td>
        <td class="width-15">
          <div class="next-arrow float-right next-arrow-img"></div>
        </td>
      </tr>
      <tr class="bottom-border pad-top-10 task-instruction-row">
        <td colspan="3" class="instruction-padding">
          <div class="instruction">${nls.mapping.schemaMappingHint}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pad-top-10">
    <div class="jimu-btn float-right display-none" data-dojo-attach-point="addToMapButton" data-dojo-attach-event="onClick:_addToMapClick">${nls.buttons.addToMap}</div>
    <div class="float-right bg-loading-img bg-loading pad-top-10 display-none" data-dojo-attach-point="progressNode"></div>
  </div>
</div>