
/*-----------------------Styles for Layout tab container-----------------------*/
.jimu-widget-RelatedTableCharts-layout .esriCTLabels
{
    width: 100%;
    clear: both;
}

.jimu-widget-RelatedTableCharts-layout .esriCTLayoutHeaderTitle
{
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 0 10px;
}

.jimu-widget-RelatedTableCharts-layout .esriCTLayoutContent
{
    width: calc(100% - 140px);
    border: 1px solid #d2dae2;
    margin: 20px auto;
}

.jimu-widget-RelatedTableCharts-layout .esriCTChartContainer
{
    width: calc(100% - 100px);
    margin: 10px 50px;
    display: inline-block;
    direction: ltr;

}

.jimu-widget-RelatedTableCharts-layout .esriCTChartDescription
{
    margin: 0 10px 10px 10px;
    word-break: break-word;
}
