.jimu-widget-measure{
	width: 100%;
	height: 100%;
	min-width: 250px;
}

.jimu-widget-measure .settings-section,
.jimu-widget-measure .measure-section,
.jimu-widget-measure .text-section {
	display: none;
	width:100%;
	border-top: 1px solid #CCC;
	padding-top: 5px;
	overflow: hidden;
	margin-top: 10px;
}

.jimu-widget-measure .area-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-measure .area-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-measure .distance-units-tip{
	height: 30px;
	line-height: 30px;
	padding-left: 17px;
}

.jimu-rtl .jimu-widget-measure .distance-units-tip{
	padding-left: 0;
	padding-right: 17px;
}

.jimu-widget-measure .dijitArrowButtonContainer{
	width: 40px;
}

.jimu-widget-measure .dijitSelect{
	height: 40px;
	width: 100%;
}

.jimu-widget-measure .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton{
	width:100%;
}

.jimu-widget-measure .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton{
	width:100%;
}

.jimu-widget-measure .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitDownArrowButton .dijitArrowButtonInner{
	width:100%;
}

.jimu-widget-measure .dijitReset.dijitLeft.dijitButtonNode.dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner{
	width:100%;
}

.jimu-widget-measure .operations{
	margin-top: 10px;
	text-align: center;
}

.jimu-widget-measure .operations .jimu-btn{
	margin-right: 10px;
	margin-bottom: 10px;
}

.jimu-rtl .jimu-widget-measure .operations .jimu-btn{
	margin-right: 0;
	margin-left: 10px;
}

.jimu-widget-measure .operations .jimu-btn.last-btn{
	margin-right: 0;
}

.jimu-rtl .jimu-widget-measure .operations .jimu-btn.last-btn{
	margin-left: 0;
}

/* for FontAwesome icons, if used */
.jimu-widget-measure .operations .jimu-btn.fa:before {
	font-family: FontAwesome;
	margin-right: 4px;
}