@font-face {
	font-family: 'icomoon';
	src: url('css/fonts/icomoon.eot?oflavm');
	src: url('css/fonts/icomoon.eot?oflavm#iefix') format('embedded-opentype'), url('css/fonts/icomoon.ttf?oflavm') format('truetype'), url('css/fonts/icomoon.woff?oflavm') format('woff'), url('css/fonts/icomoon.svg?oflavm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.jimu-widget-infographic .indicator-icon,
.jimu-widget-infographic-setting .indicator-icon {

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;  /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
	content: "\e900";
}

.icon-unlike:before {
	content: "\e904";
}

.icon-stop:before {
	content: "\e902";
}

.icon-danger:before {
	content: "\e901";
}

.icon-star:before {
	content: "\e903";
}

.icon-alarm:before {
	content: "\e906";
}

.icon-down:before {
	content: "\e909";
}

.icon-right:before {
	content: "\e90f";
}

.icon-up:before {
	content: "\e911";
}

.icon-wrong:before {
	content: "\e912";
}

/* for text/image dijit */
.lm_goldenlayout .lm_item .lm_content {
	position: relative;
}

.lm_goldenlayout .lm_item .lm_content .table-layout-container {
	display: table;
	table-layout: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.lm_goldenlayout .lm_item .lm_content .table-layout-container > div {
	padding: 10px 15px;
}

.lm_goldenlayout .lm_item .lm_content .image-node {
	display: table-cell;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.lm_goldenlayout .lm_item .lm_content .no-trim {
	white-space: pre-wrap;
}

/** infographic-number-dijit  */
.infographic-number-dijit {
	display: flex;
	justify-content: center;
	align-items: center;
}

.infographic-number-dijit .number-content .value-content {
	white-space: nowrap;
}

.infographic-number-dijit a,
.infographic-number-dijit a:hover,
.infographic-number-dijit a:visited,
.infographic-number-dijit a:link,
.infographic-number-dijit a:active {
	text-decoration: none;
}

.infographic-number-dijit.horizontal-left {
	justify-content: flex-start;
}

.infographic-number-dijit.horizontal-center {
	justify-content: center;
}

.infographic-number-dijit.horizontal-right {
	justify-content: flex-end;
}

.infographic-number-dijit.vertical-top {
	align-items: flex-start;
}

.infographic-number-dijit.vertical-middle {
	align-items: center;
}

.infographic-number-dijit.vertical-bottom {
	align-items: flex-end;
}

.infographic-number-dijit .number-content {
	display: flex;
	justify-content: center;
	max-width: 340px;
}

.infographic-number-dijit .number {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.infographic-number-dijit .indicator-icon {
	font-size: 22px;
	align-self: center;
	text-align: center;
}

.infographic-number-dijit .number .prefix {
	margin-right: 6px;
}

.infographic-number-dijit .number .suffix {
	margin-left: 6px;
}

.infographic-number-dijit .rightImgDiv {
	width: 35%;
	height: 100%;
	text-align: left;
}

.infographic-chart-dijit {
	position: relative;
}

.infographic-chart-dijit .no-data-tip {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;
	top: 50%;
	margin: -15px;
	text-align: center;
	color: #666;
}

.infographic-chart-dijit.no-data .no-data-tip {
	display: block;
}