@import url("../common.css");

.jimu-widget-bookmark{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.jimu-widget-bookmark .add-section{
  position: relative;
  height: 30px;
  margin-top: 7px;
  overflow: visible;
}
.jimu-widget-bookmark .input-bookmark-name{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.jimu-widget-bookmark .btn-add{
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 30px;
  z-index: 2;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #d9dde0;
  cursor: pointer;
}
.jimu-widget-bookmark .btn-add .jimu-center-img{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url(images/add.png);
}
.jimu-widget-bookmark .jimu-state-error{
  margin-top: 4px;
  visibility: hidden;
}
.jimu-widget-bookmark .bookmark-list{
  margin-bottom: 35px;
  width: 100%;
}
.jimu-widget-bookmark .play-section{
  overflow: hidden;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}
.jimu-widget-bookmark .jimu-btn{
  float: none;
  margin: auto;
  width: 100%;
}

.jimu-widget-bookmark .jimu-img-node{
  margin-bottom: 4px;
}

.jimu-widget-bookmark .jimu-img-node .node-label{
  height: 2.7em;
  /* line-height: 24px; */
  line-height: 16px;
  vertical-align: middle;
  padding: 0 5px;
  margin: 0 auto;
  width: 100px;
  /*border-radius: 0 0 2px 2px;*/
  /* text-align: center; */
  /* font-size: 12px; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.jimu-widget-bookmark .jimu-img-node .node-box{
  margin: 0 auto;
  width: 104px;
  height: 60px;
  border-radius: 0;
}
.jimu-widget-bookmark .jimu-img-node img{
  margin: 0 2px;
  width: 100px;
  height: 60px;
}

.FoldableTheme.green .jimu-widget-bookmark .btn-add{
  background-color: #80dbc5;
}

.FoldableTheme.cyan .jimu-widget-bookmark .btn-add{
  background-color: #d5d5d4;
}

.jimu-rtl .jimu-widget-bookmark .btn-add{
  left: 1px;
  right: auto;
}